@page
@model ZuevKiselev_15.Pages.AirplanesCRUD.CreateAirplaneModel
@{
}
<div>
    <h2>Add a new Airplane</h2>
    <form method="post">
        <p>
            <label>Id</label><br />
            <input name="Id" />
        </p>
        <p>
            <label>Model</label><br />
            <input name="Model" />
        </p>
        <p>
            <label>Location</label><br />
            <input name="Location" />
        </p>
        <p>
            <label>Load Capacity:</label><br />
            <input name="LoadCapacity" type="number" />
        </p>
        <p>
            <label>Number of seats</label><br />
            <input name="NumberOfSeats" type="number" />
        </p>
        <p>
            <label>Ready for reparture(1 for ready, 0 for not ready)</label><br />
            <input name="ReadyForDeparture" type="number" />
        </p>
        <input type="submit" value="Отправить" />
    </form>
</div>